export TRAVEL_MYSQL_USER=
export TRAVEL_MYSQL_DATABASE=
export TRAVEL_MYSQL_PASSWORD=
export TRAVEL_MYSQL_ROOT_PASSWORD=

export WWW_DATA_GID=33
export WWW_DATA_UID=33

export BLOG_MYSQL_USER=
export BLOG_MYSQL_DATABASE=
export BLOG_MYSQL_PASSWORD=
export BLOG_MYSQL_ROOT_PASSWORD=

export CLOUD_MYSQL_PASSWORD=

export FAIL2BAN_SCAN_TIME=600
export FAIL2BAN_JAIL_TIME=600
export FAIL2BAN_MAX_RETRY=5
