{{#if image}}
    <img class="project-image" src="../resources/{{image}}" alt="project illustration">
{{/if}}

{{#if video}}
    <div class="project-image">
        <div class="video-container">
            <iframe src="{{video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
{{/if}}