<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hadrien Milano{{#if title}} - {{title}}{{/if}}</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    {{!-- <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css"> --}}
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div id="content">
        {{{content}}}
    </div>
    <script type="text/javascript">
        const version = "{{version}}";
    </script>
    <script src="/script-2.js"></script>
</body>
</html>