a {
  color: #f1f1f1;
  text-decoration: none;
  transition: color 120ms linear;
}
a:hover {
  color: #ffd021;
}
html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', Helvetica, sans-serif;
  background-color: #1a2336;
  color: #bdbdb5;
  font-size: 20px;
}
body {
  padding: 20px;
}
h1 {
  font-weight: 500;
  font-size: 48px;
  color: #f1f1f1;
}
.hero {
  font-size: 32px;
}
.links {
  list-style-type: none;
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
}
.links li {
  display: inline-block;
}
.links li:not(:last-of-type):after {
  content: ' —';
}
hr {
  border-color: #cebdaa;
  border-style: solid;
}
.portfolio {
  background-color: #9ba1ab;
  margin: 0 -20px;
  padding: 0 20px;
  color: #f1f1f1;
  padding-top: 15px;
  padding-bottom: 35px;
}
.portfolio-intro {
  margin-bottom: 30px;
}
.grid {
  display: flex;
  flex-direction: row;
  margin: 0 -20px;
  flex-wrap: wrap;
}
.cell {
  height: 33vw;
  width: 33vw;
  padding: 5px;
  display: block;
  box-sizing: border-box;
}
@media (min-width: 1200px) {
  .cell {
    height: 20vw;
    width: 20vw;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .cell {
    height: 25vw;
    width: 25vw;
  }
}
.cell .container {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  box-shadow: 1px 1px 5px #00000042;
}
.cell .container.clicked {
  z-index: 100;
}
.cell .container .title {
  opacity: 0;
  transform: translateY(-80px);
  position: absolute;
  width: 100%;
  height: 200%;
  background: rgba(255, 208, 33, 0.5);
  color: #ffff;
  font-size: 40px;
  padding: 10px;
  font-weight: 600;
  padding-top: 30px;
  transition: opacity 200ms ease-in, transform 200ms ease-out;
}
.cell .container .background {
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: transform 200ms ease-out, filter 200ms ease-in;
}
.cell .container:hover:not(.clicked) {
  box-shadow: 2px 2px 8px #00000042;
}
.cell .container:hover:not(.clicked) .background {
  transform: scale(1.1);
  filter: brightness(70%);
}
.cell .container:hover:not(.clicked) .title {
  opacity: 1;
  transform: translateY(0);
}
.right {
  float: right;
}
.footer {
  background-color: #9ba1ab;
  color: #f1f1f1;
  margin: -20px;
  padding: 20px;
  margin-top: 50px;
}
.navigation a {
  color: #bdbdb5;
  text-decoration: none;
  font-weight: 600;
  transition: color 120ms linear;
}
.navigation a:visited {
  color: #bdbdb5;
}
.navigation a:hover {
  color: #ffd021;
}
.project h1 {
  display: inline;
}
.project .bg-container {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 0;
  overflow: hidden;
}
.project .project-image {
  max-width: 800px;
  margin: 0 80px;
  margin-top: 50px;
}
@media (min-width: 1200px) {
  .project .project-image {
    float: right;
    width: 40%;
  }
}
.project .navigation {
  font-size: 30px;
  text-align: right;
  padding: 0 80px;
}
.project .background {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transform: scale(1.5);
  opacity: 0.2;
  filter: blur(3px) grayscale(1);
  width: 100%;
  height: 100%;
}
.project .project-description {
  margin-top: 100px;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.project section {
  animation: 0.8s ease-out 0s 1 appear;
  padding: 0 80px;
}
.project .navigation,
.project section {
  position: relative;
}
.video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
